input {
    outline: none;
}

.red-input {
    border: 1px solid red;
}

.grey-input {
    border: 1px solid grey;
}

body {
    display: grid;
    width: 200px;
    row-gap: 10px;
    margin: 20px auto auto;
}